.row__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row__title {
  color: var(--clr-white);
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-bottom: 0.25rem;
}

.row__dots {
  color: white;
  display: flex;
  gap: 0.25rem;
  margin-right: 0.875rem;
}


