.banner {
  color: var(--clr-white);
  z-index: 0;
  position: relative;
  aspect-ratio: 16/6;
}

.banner__content {
  padding-inline-start: 2.5rem;
  top: 0;
  height: 30rem;
  width: 100%;
  min-height: 30rem;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  z-index: 3;
  position: relative;
}

.banner__content > div {
  flex: 1;
}
.banner__content__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40%;
  font-size: 0.875rem;
}

.banner__classification__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 20%;
  justify-content: flex-end;
}

.banner__classification {
  background-color: rgba(51, 51, 51, 0.6);
  border-left: 3px solid white;
  padding: 0.25rem 0.5rem;
  padding-inline-end: 3rem;
  width: max-content;
  font-size: 0.875rem;
  font-weight: lighter;
}

.banner__complementary__text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}

.banner__complementary__text > svg {
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.5));
}
.banner__complementary__text > span {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

.banner__synopsis {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
}

.banner__buttons {
  display: flex;
  gap: 0.5rem;
}
